body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at center, #0f0f0f, #000);
  color: white;
  font-family: "Poppins", sans-serif;
}

.container {
  text-align: center;
}

.links a {
  margin: 0 10px;
  text-decoration: none;
  color: #00ffcc;
  font-weight: bold;
  transition: color 0.3s;
}

.links a:hover {
  color: #fff;
}
